@light-blue: #409eff;
@dark-grey: #969696;

.passport-main {
  @padding-size: 50px;
  width: 400px;
  box-sizing: border-box;
  padding: 0 @padding-size @padding-size;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  position: relative;

  .login-type {
    position: absolute;
    bottom: 0;
    right: 0;
    width: @padding-size;
    height: @padding-size;
    outline: none;
    cursor: pointer;

    .tri-shadow {
      border: @padding-size / 2 solid rgba(0, 0, 0, 0);
      border-top: @padding-size / 2 solid #fff;
      border-left: @padding-size / 2 solid #fff;
    }
  }

  .qr-code-login {
    background: #f0f0f0 url("../image/qr-code.png");
    background-size: auto 100%;
  }

  .account-login {
    background: #f0f0f0 url("../image/pc.png");
    background-size: auto 100%;
  }

  .qr-code {
    position: relative;

    img {
      z-index: 1;
    }

    .opacity-box {
      position: absolute;
      top: 0;
      left: 68px;
      width: 164px;
      height: 164px;
      background-color: #fff;
      opacity: 0.8;
      z-index: 2;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      font-size: 36px;
    }
  }

  .title, .reset-title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
    font-size: 18px;
    line-height: 1.1;

    a {
      padding: 10px;
      color: #969696;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid #409eff;
        text-decoration: none;
      }
    }

    .active {
      font-weight: 700;
      color: @light-blue;
      border-bottom: 2px solid @light-blue;
    }

    b {
      padding: 10px;
    }
  }

  .reset-title {
    color: #333;
    font-weight: 700
  }

  .remember-btn {
    float: left;
    margin: 15px 0;

    span {
      margin-left: 5px;
      font-size: 15px;
      color: @dark-grey;
      vertical-align: middle;
    }
  }

  .forget-btn {
    float: right;
    position: relative;
    margin: 15px 0;
    font-size: 14px;

    a {
      color: #999;
      text-decoration: none;

      &:hover {
        color: #333;
      }
    }
  }

  .login-button, .register-button {
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #3194d0;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;

    &:hover {
      background: @light-blue;
    }
  }
}
